---
layout: charts
---
<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
	<script src="{{ '/assets/main.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>

</head>

<body>

	<div class="chart-plugin">
		<div class="chart-plugin__container">
			<div class="chart-plugin__header">
				<h2>Saved Charts</h2><button class="chart__new">NewChart</button>
			</div>
			<div class="chart-plugin__content">
				<ul class="chart-plugin__saved-charts">
					<li class="chart-list__item">No Charts</li>
				</ul>
				<div class="chart-plugin__preview"">
					<h2 class="chart-plugin__preview__title">Title</h2>
					<canvas></canvas>
				</div>	
			</div>
		</div>

		<div class="chart-plugin__editor">
			<div class="chart-plugin__editor__header">
				<h2>Chart Editor</h2>
			</div>
			<div class="chart-plugin__editor__type">
				<h4>Type</h4>
				<ul></ul>
			</div>
			<div class="chart-plugin__editor__data">
				<h4>Data</h4>

				<textarea class="chart-plugin__editor__data__input">8, 6, 7, 5, 3, 0, 9</textarea>
			</div>

			<div class="chart-plugin__editor__text">

				<h4>Text</h4>
				<div class=" chart-plugin__editor__text__title">
					<span>Title: </span>
					<input type="text" value="New Chart">
				</div>
			
				<span>Labels: </span>
				<div class="chart-plugin__editor__text__labels">
					<ul>
						<li>
							<input type="text" value="label">
						</li>
					</ul>
				</div>
			
				<button class="chart-plugin__editor__text__save">Save</button>
			</div>
		</div>
	</div>
	

</body>

</html>