body {
	margin: 0;
	padding: 0;
}

.content {
	height: 100vh;
	width: 100vw;
}

.debug-output {
	position: absolute;
	top: 100px;
	width: 50%;
	height: 50%;
}

// chart stuff
$max-width: 1200px;
$background-hightlight: lightgray;

body {
	font-family: "Geneva", Tahoma, sans-serif;
}

button {
	display: inline-block;
	padding: 2px 10px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 4px;
	/* System 7 had slightly rounded corners */
	font-family: "Geneva", Tahoma, sans-serif;
	/* System 7's system font */
	font-size: 12px;
	cursor: pointer;
	outline: none;
	margin-right: 10px;

	&.active {
		background-color: #000;
		color: #fff;
	}

	&.disabled {
		color: #888;
		/* Greyed out text */
		cursor: default;
	}

	&:hover {
		background-color: $background-hightlight;
	}
}

.button-thick {
	box-shadow: 0 0 0 2px #000;
	/* Simulates the double-border look */
	margin: 2px;
	/* Accommodates the extra shadow width */
}

ul {
	list-style: none;
	margin: 0;
	padding-inline-start: 0;
}

.flex__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	div {
		display: flex;
		flex-direction: column;
	}
}

.flex__col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	div {
		display: flex;
		flex-direction: row;
	}
}

button {
	cursor: pointer;
}

.chart-plugin {
	margin: 10px;
}

.chart-plugin__content {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
}

.chart-plugin__preview {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	max-width: 50%;
	z-index: 9;

	canvas {
		max-height: 500px;
		max-width: 500px;
	}
}

.chart-plugin__preview__title {
	text-align: center;
}

.chart-plugin__saved-charts {
	flex-grow: 1;
	list-style: none;
	padding-inline-start: 0;

	.saved-chart {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid black;
		// cursor: pointer;
		margin: 0 10px;
		padding: 10px;
		width: 100%;

		&:hover {
			background-color: $background-hightlight;
		}
	}
}

.chart-plugin__saved-charts__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.inner-button {
	display: flex;
	justify-content: space-between;

	.inner-button__title {
		max-width: 25%;
		text-align: left;
		width: 25%;
	}
}

.chart-plugin__editor {
	position: absolute;
	background: white;
	left: 0;
	opacity: 1;
	transition: all .33s;
	width: 50%;

	&.closed {
		left: 50%;
		opacity: 0;
	}
}

.chart-plugin__editor__header {
	display: flex;
	justify-content: space-between;
}

.chart-plugin__editor__type ul {
	display: flex;
	list-style: none;
	padding-inline-start: 0;
}

.chart-plugin__editor__data {
	width: 65%;
}

.chart-plugin__editor__text__labels {
	input {margin-right: 10px;}
}

.chart-plugin__editor__data__input {
	height: 100%;
	width: 100%;
}