body {
	margin: 0;
	padding: 0;
}

.content {
	height: 100vh;
	width: 100vw;
}

.debug-output {
	position: absolute;
	top: 100px;
	width: 50%;
	height: 50%;
}

// chart stuff
$max-width: 1200px;
$background-hightlight: lightgray;

ul {
	list-style: none;
	padding-inline-start: 0;
}

button {
	cursor: pointer;
}

.chart-plugin__content {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
}

.chart-plugin__preview {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	max-width: 50%;
	z-index: 9;

	canvas {
		max-height: 500px;
		max-width: 500px;
	}
}

.chart-plugin__preview__title {
	text-align: center;
}

.chart-plugin__saved-charts {
	flex-grow: 1;
	list-style: none;
	padding-inline-start: 0;

	.saved-chart {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid black;
		// cursor: pointer;
		margin: 0 10px;
		padding: 10px;
		width: 100%;

		&:hover {
			background-color: $background-hightlight;
		}
	}
}

.chart-plugin__saved-charts__header {
	display: flex;
	justify-content: space-between;
}

.inner-button {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;

	.inner-button__title {
		max-width: 25%;
		text-align: left;
		width: 25%;
	}
}

.chart-plugin__editor {
	position: absolute;
	background: white;
	// right: 0;
	width: 50%;

	&.closed {
		right: 0;
	}
}

.chart-plugin__editor__header {
	display: flex;
	justify-content: space-between;
}

.chart-plugin__editor__type ul {
	display: flex;
	list-style: none;
	padding-inline-start: 0;
}

.chart-plugin__editor__type button {
	background: transparent;
	border: 1px solid black;
	margin: 10px;
	text-transform: capitalize;

	.inner-button {
		padding: 0;
	}
	
	&.selected {
		border: 1px solid red;
	}

	&:hover {
		background-color: $background-hightlight;
	}
}