body {
	margin: 0;
	padding: 0;
}

.content {
	height: 100vh;
	width: 100vw;
}

.debug-output {
	position: absolute;
	top: 100px;
	width: 50%;
	height: 50%;
}

// chart stuff
$max-width: 1200px;
$background-hightlight: lightgray;

.chart-list__saved-charts {
	list-style: none;
	padding-inline-start: 0;

	.saved-chart {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid black;
		cursor: pointer;
		margin: 0 10px;
		padding: 10px;
		width: $max-width;

		&:hover {
			background-color: $background-hightlight;
		}
	}
}

.inner-button {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;

	.inner-button__title {
		max-width: 200px;
		text-align: left;
		width: 200px;
	}
}

.chart-editor__select ul {
	display: flex;
	list-style: none;
	padding-inline-start: 0;
}

.chart-editor__select button {
	background: transparent;
	border: 1px solid black;
	cursor: pointer;
	margin: 10px;
	// padding: 20px 40px;
	text-transform: capitalize;
	
	&.selected {
		border: 1px solid red;
	}

	&:hover {
		background-color: $background-hightlight;
		// border: 1px solid red;
	}
}

.chart-editor__preview {
	display: flex;
}

.chart-editor__preview canvas {
	max-height: 500px;
	max-width: 500px;
}